/* You can add global styles to this file, and also import other style files */
body {
  background-color: #d8d8d8;
}

.card {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}